
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12 text-center pt-4">
            <h2 class="text-secondary">Listado de Citas</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">David Ortiz Mota</h5>
                    <h6 class="card-subtitle mb-2 text-muted">11:30 am - 12:00 pm</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Detalles de Paciente</a>

                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">David Ortiz Mota</h5>
                    <h6 class="card-subtitle mb-2 text-muted">12:00 pm - 12:30 pm</h6>
                    <p class="card-text">Dolor del alma</p>
                    <a href="#" class="card-link">Detalles de Paciente</a>

                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">David Ortiz Mota</h5>
                    <h6 class="card-subtitle mb-2 text-muted">12:30 pm - 13:00 pm</h6>
                    <p class="card-text">Seguimiento de Cirugia</p>
                    <a href="#" class="card-link">Detalles de Paciente</a>

                </div>
            </div>
        </div>
    </div>


</div>

